/* DiagnosticTable.css */
.table-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .diagnostic-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .diagnostic-table th,
  .diagnostic-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .diagnostic-table th {
    background-color: #c5db75;
  }
  